.newTask {
  margin-top: calc(0px - 3.375rem/2);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  resize: none;

  flex-grow: 1;
}

.button {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 8px;
  border: none;
  padding: 1rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 122.5%;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--blue);
  cursor: pointer;
  transition: 0.2s;
}