.noTask {
  margin-top: 1.5rem;
  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-400);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.noTask img {
  width: 3.5rem;
  height: 3.5rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text strong {
  font-weight: 700;
}